/* Asterisk wildcard selector to override default styles added by the browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: lightcoral;
}
main {
    background-color: lightblue;
}
footer {
    background-color: orange;
}
